p = t('devise.mailer.greeting')
p = t('devise.mailer.reset_password_instructions.information')
p = link_to t('devise.mailer.reset_password_instructions.change_password'),
        edit_password_url(@resource, reset_password_token: @token)
p = t('devise.mailer.reset_password_instructions.not_requested')
p = t('devise.mailer.reset_password_instructions.not_changed')
